body{
        background-color: rgba(61, 70, 10, 0.753);
        color: #fff;
}

.cards__container{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
}

.heading{
        text-align: center;
}